@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared sytle start */
.quicksand-black {
  font-family: "Quicksand", serif;
  color: black;
  font-weight: bold;
  font-style: normal;
}
.quicksand-white {
  font-family: "Quicksand", serif;
  color: white;
  font-weight: bold;
  font-style: normal;
}
.quicksand-orange {
  font-family: "Quicksand", serif;
  color: #fea301;
  font-weight: bold;
  font-style: normal;
}

.quicksand-skyblue {
  font-family: "Quicksand", serif;
  color: #01acfd;
  font-weight: bold;
  font-style: normal;
}

.quicksand-violate {
  font-family: "Quicksand", serif;
  color: #5d58ef;
  font-weight: bold;
  font-style: normal;
}
.quicksand-aqua {
  font-family: "Quicksand", serif;
  color: #05d4df;
  font-weight: bold;
  font-style: normal;
}

.display-flex {
  display: flex;
}
.common-btn-orange {
  background-color: #fea301;
  border: none;
  height: 45px;
  width: 160px;
  border-radius: 15px;
}
.common-btn-black {
  background-color: #000000;
  border: none;
  height: 45px;
  width: 160px;
  border-radius: 15px;
}

.cart-button-blue {
  border: none;
  color: blue;
}
.cart-button-yellow {
  border: none;
  color: rgb(255, 135, 16);
}
.cart-button-violate {
  border: none;
  color: violet;
}
/* logo and navbar style start */
.school-logo {
  align-items: center;
}
.logo-nav {
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  margin: 0 1rem;
}

.fa-duotone,
.fa-solid,
.fa-bars {
  padding: 10px;
}

.btn-menu {
  align-items: center;
  justify-items: center;
}
hr {
  border: none;
  border-top: 1.5px solid #fea301;
}
.border-radius {
  border-radius: 10px;
}

/* banner design start */
.banner {
  align-items: start;
  justify-content: space-between;
  margin: 50px 100px;
}
.banner-title {
  font-size: 2rem;
  margin-top: 100px;
}
.banner-description {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.69);
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* standard curricular start */
.curriculum {
  background-image: url(assets/bg.png);
  margin: 50px 100px;
  text-align: center;
}

.cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}

.cart1 {
  background: linear-gradient(to top, #ffff, #def5ff);
}
.cart2 {
  background: linear-gradient(to top, #ffff, #fff4dc);
}
.cart3 {
  background: linear-gradient(to top, #ffff, #f2e8ff);
}
.cart1,
.cart2,
.cart3 {
  border-radius: 20px;
}
.cart-img {
  margin: 50px 0;
}
.left-right-arrow {
  display: flex;
}

.cart-description {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.69);
  margin-top: 10px;
  margin-bottom: 30px;
}
.arrow {
  height: 25px;
  width: 25;
}

/* our stories design start */
.our-stories {
  text-align: center;
  margin-top: 100px;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  padding: 0 100px;
  background-image: url(assets/bg.png);
  background: linear-gradient(to top, #9981587c, #ffffff);
}
.primary-img {
}
.secondary-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.story-btn-aqua {
  background-color: aqua;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 15px;
  position: relative;
  top: -25px;
  left: -25px;
}
.story-btn-green {
  background-color: green;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 15px;
  position: relative;
  top: -25px;
  left: -25px;
}
.story-btn-violate {
  background-color: violet;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 15px;
  position: relative;
  top: -25px;
  left: -25px;
}
.story-btn-orange {
  background-color: #fea301;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 15px;
  position: relative;
  top: -25px;
  left: -100px;
}
.story-btn-darkslategrey {
  background-color: darkslategray;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 15px;
  position: relative;
  top: -25px;
  left: -25px;
}
.view-all {
  margin: 50px 0px;
}
/* footer style start */
.footer {
  height: 40vh;
  background-color: rgb(109, 109, 254);
  justify-content: space-around;
  padding: 60px;
}

ul {
  list-style: none;
}
.footer-logo {
  justify-content: space-around;
}
/* mobile responsive design */
@media screen and (max-width: 576px) {
  .navbar,
  .school,
  .contact {
    visibility: hidden;
  }
  .fa-duotone,
  .fa-solid,
  .fa-bars {
    margin-bottom: 20px;
  }
  .btn-menu {
    align-items: center;
  }
  .img-logo {
    margin-bottom: 20px;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .banner-text {
    justify-items: center;
  }
  .banner-title {
    text-align: center;
  }
  .cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 50px;
  }
  .arrows {
    visibility: hidden;
  }
  .primary-img {
    display: none;
  }
  .secondary-img {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: center;
  }
  .our-stories {
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .footer-logo {
    justify-content: start;
  }
}

/* larger screen responsive design */
@media screen and (min-width: 577px) {
  .fa-duotone,
  .fa-solid,
  .fa-bars {
    visibility: hidden;
  }
  hr {
    visibility: hidden;
  }
}
